[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CircularDDM"]
	path = CircularDDM
	url = https://github.com/cran/CircularDDM
[submodule "ggdmc"]
	path = ggdmc
	url = https://github.com/yxlin/ggdmc
[submodule "ggdmcHeaders"]
	path = ggdmcHeaders
	url = https://github.com/yxlin/ggdmcheaders
[submodule "ggdmcModel"]
	path = ggdmcModel
	url = https://github.com/yxlin/ggdmcmodel
