[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "ggdmc"]
	path = ggdmc
	url = https://github.com/yxlin/ggdmc
	shallow = true
	registered = true
