[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CircularDDM"]
	path = CircularDDM
	url = https://github.com/cran/CircularDDM
[submodule "ddModel"]
	path = ddModel
	url = https://github.com/yxlin/ddmodel
[submodule "ggdmc"]
	path = ggdmc
	url = https://github.com/yxlin/ggdmc
[submodule "ggdmcHeaders"]
	path = ggdmcHeaders
	url = https://github.com/yxlin/ggdmcheaders
[submodule "ggdmcLikelihood"]
	path = ggdmcLikelihood
	url = https://github.com/yxlin/ggdmclikelihood
[submodule "ggdmcModel"]
	path = ggdmcModel
	url = https://github.com/yxlin/ggdmcmodel
[submodule "ggdmcPrior"]
	path = ggdmcPrior
	url = https://github.com/yxlin/ggdmcprior
[submodule "lbaModel"]
	path = lbaModel
	url = https://github.com/yxlin/lbamodel
